@import '../../../styles/variables.scss';

.restaurant-card{
     width: 250px;
    cursor: pointer;

}
.card-image-container{
  height: 150px;
  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
  }
}
.no-shadow{ 
    box-shadow: none !important;
}
.ratingicon{
    color:  $rating-color !important;
}