//primary Color
$primary-color : #fc5c00d0;

//Secoundary color
 $secoundary-color: #FFFFFF;

 //Tertiary-color
 $tertiary-color: #5c5b5b;

 //Rating-color
 $rating-color: #60b246;

 //Delete-color
 $delete-color: #d00000;
 

