@import '../../../styles/variables.scss';

.header-image{ 
      background-size: cover;
      background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrJnR_HM-_PAmRK-don9bnPwAoDGeikAvzpiGpf0dP0lXfDTRy");
}