 <mat-toolbar color="accent"  class="shadow fw-bold">
    <span class="logo"><mat-icon>restaurant</mat-icon>

    </span>
    <span class="logoname">Hunger Saviour</span>
    <span class="spacer"></span>
    <div class="nav-links">
      <a href=""><mat-icon>info</mat-icon>Orders</a>
      <a href=""><mat-icon>restaurant_menu</mat-icon>restaurants</a>
      <a href=""><mat-icon>person</mat-icon>Sign In</a>
      <a href=""><mat-icon>exit_to_app</mat-icon>Sign Out</a>
      <a href=""><mat-icon>shopping_cart</mat-icon>Cart</a>
    </div>
</mat-toolbar>
