/* You can add global styles to this file, and also import other style files */

@import './styles/variables.scss';
@import './styles/bootstrap-override.scss';
@import './styles/material-override.scss';
html,body{
    
    height: 100%;
}

body{
    margin: 0;
    font-family: 'circular';
}