server:
  port: 8081
spring:
  application:
    name: restaurant-service
  datasource:
    url: jdbc:mysql://localhost:3306/restaurant-b2b?createDatabaseIfNotExist=true
    username: root
    password: Chinmay@1234
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
  flyway:
    enabled: false
eureka:
  client:
    enabled: false
