@import '../../../styles/variables.scss';

.restaurant-card{
     width: 250px;
    cursor: pointer;

}
.card-image-container{
  img{
    width: 250px;
    object-position: top;
  }
}
.no-shadow{
    box-shadow: none !important;
}
.ratingicon{
    color:  $rating-color !important;
}